html, body {
  width:100%;
}
.banner {
  width:100%;
}
.container {
  display: flex;
}

.image{
  padding:10px;
}
.image-preview{
  position:relative;
}
.image img{
  width:100%;
}

.image .crop{
  width:100%;
  height:300px;
}

.crop-square{
  position:absolute;
  border:1px solid red;
}